<h1>AcTest#index</h1>
<p>Find me in app/views/ac_test/index.html.erb</p>
<div id="msg">
</div>

<%= form_for @message, remote: true do |f| %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>