<h2 class="">Open Challenges</h2>
<h3 class="">My Level: &nbsp;&nbsp; <%= raw level_icon_span(level: current_player.current_level) %> </h3>
<% if @battles.any? %>
  <% @battles.each do |b| %>
    <div class="box">
      <span class="icon"><i class="fas fa-tree"></i> </span>
      <%#= raw move_icon_span(plyr:b.moves[0], opnt: b.moves[0]) %>
      <p><%= b.moves[0].player.display_name %></p>
      <p><%= formatted_date(b.created_at)  %></p>
      <% if !@challenge_battle %>
        <div class="level">
          <% symbols_list.each do |symbol| %>
            <div class="level-item">
              <%= button_to symbol, battlefield_battle_path(id:b.id), method: :patch, class:"button is-large is-primary", params:{move: symbol} %>
            </div>
          <% end  %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="notification is-info">No open challenges.</p>
<% end %>
