<h1 class="title is-1">Battle! Battle! Battle!</h1>

<div class="columns">
<div class="column"><h2 class="title is-2">Challengers!</h2>
    <% @battles.each do %>

    <% end %>
    </div>
<div class="column"><%= link_to "Start a Challenge!", new_battle_path,class:"button is-large is-link" %></div>
</div>
