 <h1 class="">Players</h1>
<div class=" list box">
<% @players.each do |p| %>
  <p class="list-item is-hoverable"><span class="icon"><i class="<%= level_icon(level:p.current_level) %>"></i></span><%= link_to p.display_name, player_path(p) %></p>
<% end %>
</div>