  
<h2 class="has-text-dark"><span class="icon"><i class="fas fa-users"></i></span> Battles</h2>
<div id= "battle-msgs" class='list box'>
  <% if @battles.any? %>
    <% @battles.each do |b| %>
      <%= raw battle_message2(b) %>
    <% end %>
  <% else %>
    <p id="empty-bf-msg" class="notification is-info">No battles.</p>
  <% end %>
</div>
