<h1 class="">Edit Battlefield</h1>

<div class="box">
  <%= form_for :battlefield, class: "form",url: battlefield_path, method: :patch do |f| %>
    
    <div class="field">
      <%= f.label :name, "Display Name:" ,class:"label"%>
      <%= f.text_field :name, class:"input" %>
    </div>
    
    <div class="field has-text-right">
      <%= f.submit "Submit", class:"button is-primary" %>
    </div>
  <% end %>
</div>