<h1 class>Welcome to the Battle</h1>
<div class="content">
  <%= link_to "Create a Battlefield!", new_battlefield_path, class:"button is-large is-link" %>
</div>
<div class="columns">
  <div class="column">
    <div class="content box">
      <h2><span class="icon"><i class="fas fa-tree"></i> </span>Battlefields</h2>
      <% if @battlefields.any? %>
        <div class="list is-hoverable">
          <% @battlefields.each do |battlefield| %>
            <%= link_to battlefield.name, battlefield_path(battlefield), class:"list-item" %>
          <% end %>
        </div>
      <% else %>
        <p class="is-info">No battlefields.</p>
      <% end %>
    </div>
  </div>
  <div class="column">
    <div id= "battle-msgs" class="box has-background-light">
      <%= render "battle_list" %>
    </div>
  </div>
</div>
